
html, body {
height: 100%;
}
#nav {padding:0; margin:0; list-style:none; height:38px; 
/*background:#fff url(grn_0.gif) repeat-x; filter:alpha(opacity=55);-moz-opacity:.55;opacity:.55; */
position:relative;  font-family:arial, verdana, sans-serif;}
.top_link {display:block; float:left; color:#FFFFFC; text-decoration:none; font-size:11px; 
font-weight:bold; padding:0 0 0 12px; cursor:pointer;}
.top_link:hover {color:red; /* background:  url(grn_1.gif) no-repeat;*/}


