
html, body {
height: 100%;
}
#nav {
    padding:0; 
    margin:0; 
    list-style:none; 
    height:38px; 
    /*background:#fff url(grn_0.gif) repeat-x; filter:alpha(opacity=55);-moz-opacity:.55;opacity:.55; */
    position:relative;  
    font-family:arial, verdana, sans-serif;
}

.top_link_title {
	display:block; 
	float:left; 
	color:#FFFFFC; 
	text-decoration:none; 
	font-size:11px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;
}
.top_link_title:hover {
     color:red; /* background:  url(grn_1.gif) no-repeat;*/
}
.top_link_update {
	display:block; 
	float:left; 
	color:#FBDE11; 
	text-decoration:none; 
	font-size:11px; 
	font-weight:bold; 
	padding:2px 2px 2px 4px;
	cursor:pointer;
       background:#5c5cff;
       border: groove ;
       margin-top:-2px;
}
.top_link_update:hover {
     color:red; 
     background:#000000;
}


.top_link_left {
	display:block; 
	float:right; 
	color:#FFFFFC; 
	text-decoration:none; 
	font-size:9px; 
	font-weight:bold; 
	margin-right:2px; 
	cursor:pointer;
}
.top_link_left:hover {color:red;  /* background:  url(grn_1.gif) no-repeat; */}

.top_link {
	display:block; 
	float:left;  
	padding:0 0 0 12px;
	color:#FBDE11; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold; 
        margin-top: 2px;
	margin-right:2px; 	font-weight: bold; ; cursor:pointer;;
}
.top_link:hover {color:red;  /* background:  url(grn_1.gif) no-repeat; */}

