-d $symbols.get("data_0_dataset_ID"),$symbols.get("data_1_dataset_ID") -v $symbols.get("data_0_var") -s $las_backendrequest.getTlo("YYYY") -e $las_backendrequest.getThi("YYYY") -a $symbols.get("climate_analysis_type")
