#table_start()
#if($use_java)
  <tr>
    <td align="center">
      <a href="javascript:setUseJava(false)">Use the two-click map</a>
                  &nbsp;&nbsp;
                  <a href="javascript:openDoc('../doc/LASInfo.htm#cmap')"
                     onMouseOver="window.status='Click for user help'; return true"
                     onMouseOut="window.status=''; return true">
                  Help</a>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="white">
      <APPLET CODEBASE="../classes/"
        ARCHIVE="LiveMap_30.jar"
        CODE="LiveMap_30.class"
        NAME="map" MAYSCRIPT WIDTH=525 HEIGHT=160>
         <PARAM NAME=base_image VALUE="$livemap.getImageUrl()">
         <PARAM NAME=toolType VALUE="XY">
         <PARAM NAME=img_x_domain VALUE="$livemap.getXlo() $livemap.getXhi()">
         <PARAM NAME=img_y_domain VALUE="$livemap.getYlo() $livemap.getYhi()">
         <PARAM NAME=tool_x_range VALUE="$livemap.getXlo() $livemap.getXhi()">
         <PARAM NAME=tool_y_range VALUE="$livemap.getYlo() $livemap.getYhi()">
         <PARAM NAME=debug VALUE="true">
      </APPLET>
    </td>
   </tr>
#else ## if($use_java)
  <tr>
   #if (!$!browser.isRejected())
    <td align="center">
      <a href="javascript:setUseJava(true)">Use the interactive map</a>
                  &nbsp;&nbsp;
                  <a href="javascript:openDoc('../doc/LASInfo.htm#cmap')"
                     onMouseOver="window.status='Click for user help'; return true"
                     onMouseOut="window.status=''; return true">
                  Help</a>
    </td>
   #else
   <td align="center">
   </td>
   #end
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td>
       <table border="0">
          <tr><td><a href="javascript:openDoc('../doc/LASInfo.htm#map')"><img border="0" src="../images/help.gif"></a></td><td align="center"><a href="$base_name?op=pan&dir=up"><img border="0" src="../images/up_arrow.gif"></a></td><td align="left"><a href="$base_name?reset"><img border="0" src="../images/reset.gif"></a></td></tr>
          <tr><td align="center"><a href="$base_name?op=pan&dir=left"><img border="0" src="../images/lt_arrow.gif"></a></td>
              <td align="center">
              <a href="$base_name">
              <img border="0" src="mapgen?$mapstate.getDelayedMapOp()&ran=$mapstate.getRandom()" width=320 height=160 ismap>
              </a>
              </td>
              <td align="center"><a href="$base_name?op=pan&dir=right"><img border="0" src="../images/rt_arrow.gif"></a></td>
          </tr>
          <tr><td align="left"><a href="$base_name?op=zoomin"><img border="0" src="../images/zoomin.gif"></a></td><td align="center"><a href="$base_name?op=pan&dir=down"><img border="0" src="../images/dn_arrow.gif"></a></td><td align="left"><a href="$base_name?op=zoomout"><img border="0" src="../images/zoomout.gif"></a></td></tr>
       </table>
    </td>
    <td valign="top" bgcolor="white">
      <table border="0" cellpadding="0" cellspacing="0">
	<tr align="center"><td colspan="3" >&nbsp;</td></tr>
           #if ( $mapstate.getNeedTwoVars().toString().equals("true") )
           <tr align="center"><td bgcolor="777777" colspan="3">$form.radio("whvar","1","onClick=stuffForm('constrain_compare?firstvar')")<font color="yellow">Var 1</font> $form.radio("whvar","2","onClick=stuffForm('constrain_compare?secondvar')")<font color="white">Var 2</font></td></tr>
           #end
	<tr> 
	  <td colspan=3 align="center"> 
	    <input type="text" size=10 name="yhi_text">
	  </td>
	</tr>
	<tr> 
	  <td align="right"> 
	    <input type="text" size=10 name="xlo_text">
	  </td>
	  <td width=30>&nbsp;</td>
	  <td align="left"> 
	    <input type="text" size=10 name="xhi_text">
	  </td>
	</tr>
	<tr> 
	  <td colspan=3 align="center"> 
	    <input type="text" size=10 name="ylo_text">
	  </td>
	</tr>
        <tr>
          <td colspan=3 align="center"><a href="javascript:updateMap()"><img border="0" src="../images/go.gif"></a></td>
        <tr>
      </table>
    </td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
#end ## if($use_java)
#table_end()
