<html>
#parse("header.vm")
<body bgcolor="#FFFFFF" text="#000000" onLoad="init()">

#banner($title)

<!-- Navigation bar -->
<table align="left" width="140" border="0" cellspacing="5" cellpadding="0">
    <tr valign="top">
      <td align="center" valign="top">
#parse("compare_nav.vm")
      </td>
    </tr>
</table>
<!-- End navigation bar -->

<!-- Netscape 4.xx won't correctly render nav table if height tag is missing below -->
<table bordercolor="#003399" border="1" align="left" width="664" height="400" cellspacing="0" cellpadding="3">
<!-- Status info -->
<tr bgcolor="#cccccc">
  <td height="12" colspan="2">
    #set($compareState=$context.getCompareState($template_name))
    #status($hide_variables)
  </td>
</tr>
<!-- End status info -->
  <tr><td colspan="2" valign="top">
<!-------------------- Begin Main Template --------------------->
<noscript>
JavaScript is required to use LAS and it appears that you do not have JavaScript
enabled on your browser.  If you want to continue, enable JavaScript and
<a href="dataset">click here.</a>
<br><br>
To enable JavaScript on modern Netscape browsers:

<ol>
   <li>Open the Edit menu and choose Preferences.</li>
   <li>Under the Advanced category, click Scripts & Plugins. (If no subcategories are visible, double-click Advanced to expand the list.)</li>
   <li>Under the <b>Enable JavaScript for:</b> turn on the checkbox next to the word "Navigator"
</ol>
To enable JavaScript on modern Internet Explorer browsers:
<ol>
<li>From the Tools menu select Internet Options... The Internet Options dialog box appears.</li>
<li>Select the Security tab. The Security Options panel appears.</li>
<li>Click on the Internet zone to select it.</li>
<li>Click the Custom Level... button. The Security Settings panel appears.</li>
<li>Scroll down to the "Active Scripting" setting and make sure the <b>Enabled</b> button is selected.</li>
</ol>
</noscript>
$layout.addMainTemplate()
<!--------------------   End Main Template --------------------->
  </td></tr>
#parse("footer.vm")
</table>

</body>
</html>
