<head>

## Hacks for popup data window
#if($popup_data.doPopup())
<script language="JavaScript">
    dataWindow.focus();
</script>
#end ## if($popup_data.doPopup())

<style type="text/css">
a {font-size: 10pt}
td {font-size: 10pt}

a.nav {color:black; font-size:12pt; font-family:Arial, Helvetica, sans-serif; text-decoration:none}
td.navhighlight {color:black; font-size:12pt; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none}
td.navgray {color:gray; font-size:12pt; font-family:Arial, Helvetica, sans-serif; text-decoration:none}

.error {color:red}
.spacer {font-size: 2pt}

.indent {  margin-left:20pt; text-indent:-10pt}

a.dataset {font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size: 10pt}
td.variable {font-weight:bold; font-size: 10pt; font-family:Arial, Helvetica, sans-serif}

a.redbold {color:red; font-size:10pt; font-family:arial; font-weight:bold; text-decoration:none}
.redbold {color:red; font-size:10pt; font-family:arial; font-weight:bold; text-decoration:none}

td.advice { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #003399 ; background-image: url(../images/adv_blank.gif); background-repeat: no-repeat; background-position: center left}
td.advice_noimg { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #003399}

.subheading { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #003399}

.heading { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #003399}

td.banner {color:white; font-size:14pt; font-family:arial; font-weight:bold; text-decoration:none}
td.bannertitle {color:black; font-size:14pt; font-family:arial; font-weight:bold; text-decoration:none}
</style>

<title>$title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
// Override this function if you want some actions after a page load
function init() {}

// Override this function if you want some action before submitting a form
// Note that the onSubmit event isn't issued if form.submit() is called
// programmatically. Sigh.
function doSubmit() {}

function getFormElements(formName) {
  return document.forms[formName].elements;
}

function findForm(form) {
  if (form == null){
    return document.forms[1];
  } else {
    return document.forms[form];
  }
}

function selectAll(name) {
  var theForm = findForm();
  var theCollection = eval("theForm."+name);
  for (c=0; c<theCollection.length;c++){
    theCollection[c].checked=true;
  }
}

function unselectAll(name) {
  var theForm = findForm();
  var theCollection = eval("theForm."+name);
  for (c=0; c<theCollection.length;c++){
    theCollection[c].checked=false;
  }
}

function stuffForm(nextUrl, formName){
  var theForm = findForm(formName);
  if (theForm == null){
    window.location.href=nextUrl;
    return false;
  }
  if (theForm.nexturl == null){
    alert("stuffForm: no nexturl field");
    return false;
  }
  doSubmit();
  theForm.nexturl.value = nextUrl;
  theForm.submit();
  return false;
}

function openDoc(link) {
  var dataWindow = window.open(link, "Documentation", 
  "menubar=yes,toolbar=yes,location=yes,resizable=yes,scrollbars=yes,statusbar=yes");
  dataWindow.focus();
}

function showInfo(title, message){
  var infoWindow = window.open("", "Help",
      "menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,width=300,height=400");
  var doc = infoWindow.document;
  doc.open();
  doc.writeln("<html><head><title>LAS Help</title></head><body>");
  doc.writeln("<h3>" + title + "</h3>");
  doc.writeln(message);
  doc.writeln("</body></html>");
  doc.close();
  infoWindow.focus();
}

</script>
</head>

