There are no data sets defined on a regular grid in this LAS installation.  Comparison mode is currently only available for data on a regular grid.  Either return to the <a href="javascript:stuffForm('dataset')">dataset</a> page or use your browser's back button to return to the previous page.
