<script language="JavaScript">
/* 
AnchorPosition.js
Author: Matt Kruse
Last modified: 10/11/02

DESCRIPTION: These functions find the position of an <A> tag in a document,
so other elements can be positioned relative to it.

COMPATABILITY: Netscape 4.x,6.x,Mozilla, IE 5.x,6.x on Windows. Some small
positioning errors - usually with Window positioning - occur on the 
Macintosh platform.

FUNCTIONS:
getAnchorPosition(anchorname)
  Returns an Object() having .x and .y properties of the pixel coordinates
  of the upper-left corner of the anchor. Position is relative to the PAGE.

// I don't need this and did not include it here!!
getAnchorWindowPosition(anchorname)
  Returns an Object() having .x and .y properties of the pixel coordinates
  of the upper-left corner of the anchor, relative to the WHOLE SCREEN.

NOTES:

1) For popping up separate browser windows, use getAnchorWindowPosition. 
   Otherwise, use getAnchorPosition

2) Your anchor tag MUST contain both NAME and ID attributes which are the 
   same. For example:
   <A NAME="test" ID="test"> </A>

3) There must be at least a space between <A> </A> for IE5.5 to see the 
   anchor tag correctly. Do not do <A></A> with no space.
*/ 

// getAnchorPosition(anchorname)
//   This function returns an object having .x and .y properties which are the coordinates
//   of the named anchor, relative to the page.
function getAnchorPosition(anchorname) {
	// This function will return an Object with x and y properties
	var useWindow=false;
	var coordinates=new Object();
	var x=0,y=0;
	// Browser capability sniffing
	var use_gebi=false, use_css=false, use_layers=false;
	if (document.getElementById) { use_gebi=true; }
	else if (document.all) { use_css=true; }
	else if (document.layers) { use_layers=true; }
	// Logic to find position
 	if (use_gebi && document.all) {
		x=AnchorPosition_getPageOffsetLeft(document.all[anchorname]);
		y=AnchorPosition_getPageOffsetTop(document.all[anchorname]);
		}
	else if (use_gebi) {
		var o=document.getElementById(anchorname);
		x=AnchorPosition_getPageOffsetLeft(o);
		y=AnchorPosition_getPageOffsetTop(o);
		}
 	else if (use_css) {
		x=AnchorPosition_getPageOffsetLeft(document.all[anchorname]);
		y=AnchorPosition_getPageOffsetTop(document.all[anchorname]);
		}
	else if (use_layers) {
		var found=0;
		for (var i=0; i<document.anchors.length; i++) {
			if (document.anchors[i].name==anchorname) { found=1; break; }
			}
		if (found==0) {
			coordinates.x=0; coordinates.y=0; return coordinates;
			}
		x=document.anchors[i].x;
		y=document.anchors[i].y;
		}
	else {
		coordinates.x=0; coordinates.y=0; return coordinates;
		}
	coordinates.x=x;
	coordinates.y=y;
	return coordinates;
	}
// Functions for IE to get position of an object
function AnchorPosition_getPageOffsetLeft (el) {
	var ol=el.offsetLeft;
	while ((el=el.offsetParent) != null) { ol += el.offsetLeft; }
	return ol;
	}
function AnchorPosition_getWindowOffsetLeft (el) {
	return AnchorPosition_getPageOffsetLeft(el)-document.body.scrollLeft;
	}	
function AnchorPosition_getPageOffsetTop (el) {
	var ot=el.offsetTop;
	while((el=el.offsetParent) != null) { ot += el.offsetTop; }
	return ot;
	}
function AnchorPosition_getWindowOffsetTop (el) {
	return AnchorPosition_getPageOffsetTop(el)-document.body.scrollTop;
	}
</script>
#set($parent=$category.getParent())
$form.Start
<table>
<tr><td colspan="2"<div class="heading">&nbsp;$parent.getName()</div></td></tr>
<tr><td class=advice_noimg colspan="2">
<div style="margin-left: 25px">
Datasets
</div>
</td></tr>
#if ($parent.getCategoryInclude().equals("two_level_flow_ds"))
## This is the main category for this part of the hierarchy.  List all members.
#foreach($c in $parent.getChildren())
<tr>
   <td class="heading">
   <div style="margin-left: 30px">
   <a name="$c.getName()" id="$c.getName()"> </a>
   $c.getName()
   </div>
   </td>
</tr>
<tr>
   <td>
     <div style="margin-left: 40px">
        #foreach ($v in $c.getChildren())
          #a_metadata($v)
	  #a_dataset("" $v $v.getName() $comparison_mode)
        #end ## foreach dataset in this category
     </div>
   </td>
</tr>
#end ## foreach (category in the current list)
#else
## This is a sub-category for this part of the hierarchy.  List only this sub-category.
#foreach($c in $parent.getChildren())
#if ($c.getName().equals("$category.getName()"))
<tr>
   <td class="heading">
   <div style="margin-left: 30px">
   <a name="$c.getName()" id="$c.getName()"> </a>
   $c.getName()
   </div>
   </td>
</tr>
<tr>
   <td>
     <div style="margin-left: 40px">
        #foreach ($v in $c.getChildren())
          #a_metadata($v)
	  #a_dataset("" $v $v.getName() $comparison_mode)<br>
        #end ## foreach dataset in this category
     </div>
   </td>
</tr>
#end ## if this is current sub-category
#end ## foreach (category in the current list)
#end ## else block for main or sub-category
</table>
$form.End
<script language="JavaScript">
var pos = getAnchorPosition("$category.getName()");
var myy = pos.y-25.;
scrollTo(0,myy);
</script>
