#set ($template_name = "variable.vm")

#info_table_start()
  #if($comparison_mode == '_compare1')
    Select a variable and then click <span class="redbold">Next&nbsp;&gt;</span> to select a dataset and variable for comparison.
  #else
    Select a variable and then click <span class="redbold">Next&nbsp;&gt;</span> to proceed to the Constraints page.
  #end
#info_table_end("variable")


$form.Start
<table>
<tr><td colspan="2"><div class="heading">$category.getName()</div></td></tr>
##
## Show all user defined variables at the top for all categories.
##
#foreach($c in $category.getChildren())
## Show the user defined variables for this category (if there are any).
  #set($vchildren = $c.getDerivedItems($session, $c.getLink()))
  #any_user_variables($vchildren)
  #if($user_variables == "true")
    #tr_advice_user("<nobr>User&nbsp;variable(s)</nobr>" $vchildren.get(0).getCategory().getParentid() )
    <tr>
       <td class="subheading">
       <div style="margin-left: 30px">
       $c.getName()
       </div>
       </td>
    </tr>
<tr>
<td colspan="2">
   <div style="margin-left: 40px">
   #foreach ($vderived in $vchildren)
        $form.checkbox("variables","$vderived.Link")<a name="#$vderived.Link"/>$vderived.getName()</a>&nbsp;
   #end ## foreach derived variable in this category
   </div>
</td>
</tr>
  #end ## endif derived children
#end ## foreach (category in the current list)
#tr_advice_select("Dataset&nbsp;variable(s)")
#foreach($c in $thisCategory)
<tr>
   <td class="subheading">
   <div style="margin-left: 30px;">
   $c.getName()
   </div>
   </td>
   <td align="right">#a_variable_Next($comparison_mode)</td>
</tr>
<tr>
<td colspan="2">
   <div style="margin-left: 40px;">
   #foreach ($v in $c.getChildren())
        $form.checkbox("variables","$v.Link")<a name="#$v.Link"/>$v.getName()</a>&nbsp;
   #end ## foreach variable in this category
   </div>
</td>
<tr>
#end ## foreach (category in the current list)
</table>
$form.End
