.LASTreeULNode { 
	margin-left:6pt;
	padding-left:6pt;
	margin-top:0;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0;
}
.LASTreeLINode {
	list-style-type : none;
	padding :0;
	margin : -2pt;
	margin-right : 0;	
}

.LASTreeTitleNode {		
	cursor : pointer;
	vertical-align : middle;
}
.LASTreeIMGNode {
	cursor : pointer;
}

.LASTreeTableCell {
	cursor : pointer;
	text-align:left;
	vertical-align:top;
	padding:0;
	margin:0;
}

.LASTreeTableNode {
	cursor : pointer;
	padding:0;
	margin:0;
}
.LASMetadataDIVNode {
	position : absolute;
	background-color : white;
	border : 1pt solid black;
	z-index : 6;
}
.LASCancelButton {
	cursor:pointer;
	position:absolute;
	top :0pt;
	right:0pt;
	background-color: gray;
}
.LASOptionsDIVNode {
	position:absolute;
	left:100pt;
	top:100pt;
	background-color : white;
	border : 2pt solid black;
	margin : 8pt;
	z-index : 5;
}

.LASTitleTextNode {
	font-family:arial;
	color : white;
	font-size:40pt;
	font-size-adjust:none;
}

.LASSelectNode {
}

.LASOptionNode {
}

.LASTextInputNode {
}

.LASRadioInputNode {
}

.LASCheckboxInputNode {
}
