<ferret>
	<invoker base_dir="resources/ferret"
		ferret_bin="/home/porter/tmap/ferret/linux/bin/ferret"
		time_limit="200" template_dir="templates" />
	<cacher dataset="true" dataset_queue_size="10000" dataset_size="40"
		subset="true" subset_queue_size="10000" meta="true"
		meta_queue_size="10000" />
	<environment>
                <variable>
                        <name>PLOTFONTS</name>
                        <value>/home/porter/tmap/ferret/linux/ppl/fonts</value>
                </variable>
		<variable>
			<name>FER_LINK_DIR</name>
			<value>/home/porter/tmap/ferret_link/linux</value>
		</variable>
		<variable>
			<name>FER_DIR</name>
			<value>/home/porter/tmap/ferret/linux</value>
		</variable>
		<variable>
			<name>FER_WEB_BROWSER</name>
			<value>netscape -ncols 60</value>
		</variable>
		<variable>
			<name>FER_DSETS</name>
			<value>/home/porter/tmap/ferret/linux/fer_dsets</value>
			<value>/home/porter/tmap</value>
		</variable>
		<variable>
			<name>FER_GO</name>
			<value>jnls</value>
			<value>custom</value>
                        <value>scripts</value>
			<value>/home/porter/tmap/ferret/linux/go</value>
			<value>/home/porter/tmap/ferret/linux/examples</value>
			<value>/home/porter/tmap/ferret/linux/contrib</value>
                        <value>/home/porter/tmap/ferret/tmap_go</value>
		</variable>
		<variable>
			<name>FER_DATA</name>
			<value>.</value>
			<value>/home/porter/tmap/ferret/linux/fer_dsets/data</value>
			<value>/home/porter/tmap/ferret/linux/go</value>
			<value>/home/raid1/data</value>
			<value>
				/home/raid1/data/jaguar_data/ja10/data/f2/data
			</value>
			<value>
				/home/raid1/data/jaguar_data/ja10/data/ba1/data
			</value>
			<value>
				/home/raid1/data/jaguar_data/ja10/data/ba2/data
			</value>
			<value>
				/home/raid1/data/jaguar_data/ja10/data/ba3/data
			</value>
			<value>
				/home/raid1/data/jaguar_data/ja11/data/ba4/data
			</value>
			<value>/home/raid1/data/jaguar_data/l3/data</value>
			<value>/home/l4/data</value>
			<value>/home/l5/data</value>
			<value>/home/raid1/data/jaguar_data/ja12/data</value>
			<value>/home/raid1/data/jaguar_data/ja13/data</value>
			<value>/home/porter/tmap/ferret/linux/examples</value>
			<value>/home/shiva/data /home/shiva2/data</value>
			<value>/home/shiva3/data</value>
			<value>/home/shiva4/data</value>
			<value>/home/shiva5/data</value>
			<value>/home/sci_app/datasets</value>
		</variable>
		<variable>
			<name>FER_DESC</name>
			<value>
				/home/porter/tmap/ferret/linux/fer_dsets/descr
			</value>
			<value>/home/porter/tmap/descr</value>
		</variable>
		<variable>
			<name>FER_GRIDS</name>
			<value>.</value>
			<value>
				/home/porter/tmap/ferret/linux/fer_dsets/grids
			</value>
			<value>/home/porter/tmap/grids</value>
		</variable>
		<variable>
			<name>FER_MODEL_RUNS</name>
			<value>/home/porter/tmap/model_runs</value>
		</variable>
		<variable>
			<name>FER_PALETTE</name>
			<value>/home/porter/tmap/ferret/linux/ppl</value>
		</variable>
		<variable>
			<name>FER_EXTERNAL_FUNCTIONS</name>
			<value>/home/porter/tmap/ferret/linux/ext_func/libs</value>
		</variable>
	</environment>
</ferret>
