TD.nav {
font-family: verdana;
font-size: 11px;
font-weight: 900;
/*   border-left: 1px solid #999;   */
border-right: 2px solid #999;
border-bottom: 2px solid #999;
padding-left: 6px;
padding-right: 12px;
padding-bottom: 2px;
background: url(navBG3.jpg) bottom repeat-x;         /*  #D8D3ED=lavendar   #CAD5E6= blue   */;
height: 21px; 

}
TD.plot {   border-top: 1px solid #999;   }
p {
font-family: verdana;
font-size: 11px;
line-height: 16px;
font-weight: 900;
color: #306;
}

a{
    color:#1F597C;      /*  #1C5B71 font color for original menu link   */
	font-weight:bold;
    text-decoration:none;
}
a:hover {
	text-decoration: none;
	color: #900;
	}


/*---------- CSS for popover textbox -----------*/
a.tt{
    position:relative;
    z-index:24;
    color:#1F597C;      /*  #1C5B71 font color for original menu link   */
	font-weight:bold;
	line-height: 15px;
    text-decoration:none;
}
a.tt span{ display: none; }

/*   background:; ie hack, something must be changed in a for ie to execute it    */
a.tt:hover{ z-index:25; color: #900; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 12px 12px 12px 12px;
	width:300px;
	color: #369;  /*   font color for popover menu   */
    text-align: left;
	filter: alpha(opacity:95);
	KHTMLOpacity: 0.95;
	MozOpacity: 0.95;
	opacity: 0.95;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0 ;
    background: #D5DAFD;
}
a.tt:hover span.middle{ /* different middle bg for expanded depths */
	display: block;
	padding: 0 8px; 
	background: #D5DAFD; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 3px ;
	color: #D27E1E;
    background: #D5DAFD;
}

