/* DEBUG INFO:  Running OCDMS.vm */
## Templated SQL query for the OCDMS
##
## This template is used for the standard plots.

## Basic elements from <properties><database_access>

#set ($table=$las_backendrequest.getDatabaseProperty("db_table"))
#set ($time=$las_backendrequest.getDatabaseProperty("time"))
#set ($lat=$las_backendrequest.getDatabaseProperty("latitude"))
#set ($lon=$las_backendrequest.getDatabaseProperty("longitude"))
#set ($depth=$las_backendrequest.getDatabaseProperty("depth"))
#set ($cruiseID=$las_backendrequest.getDatabaseProperty("cruiseID"))
#set ($cruise_name=$las_backendrequest.getDatabaseProperty("cruise_name"))
#set ($missing=$las_backendrequest.getDatabaseProperty("missing"))

## Higher level functions provided by the back end java code

#set ($region=$las_backendrequest.getRegionAsConstraint())
#set ($var = $las_backendrequest.getVariablesAsString())
#set ($con = $las_backendrequest.getConstraintString("AND"))
#set ($readonly = $las_backendrequest.getReadonly())


#parse("OCDMS_data_options.vm")

#set ($var_not_null = "")
#set ($variables = $las_backendrequest.getVariables())
#foreach ($variable in $variables)
/* DEBUG INFO: variable $velocityCount = $variable */
	#if ($variable == "metadata_ID")
		#set ($variable = "metadata.metadata_ID")
	#end
  #set ($var_not_null = "($variable IS NOT NULL) AND $var_not_null")
#end


#parse("OCDMS_subsampling.vm")

#if ($var == "coord_time")
   #set ($var = "hours_1970")
#elseif ($var == "coord_lat")
   #set ($subquery = "latitude")
#elseif ($var == "coord_lon")
   #set ($subquery = "longitude")
#end

#if ($var == "metadata_ID")
   #set ($subquery = "${table}.metadata_ID")
#elseif ($var == "flag" || $var == "region_ID")
   #set ($subquery = "ASCII($var)")
#elseif ($var != "coord_lat" &&  $var != "coord_lon")
   #set ($subquery = $var)
#end


SELECT ${table}.cruise_ID as cruise_ID, metadata.cruise_name as cruise_name, subsample, $lat,$lon, IFNULL($subquery,$missing) AS $var
FROM $table
LEFT JOIN metadata ON
${table}.metadata_ID = metadata.metadata_ID
#if ($data_options.indexOf('WOCE_flag') >=0 )
LEFT JOIN WOCE_flags w on
${table}.data_ID = w.data_ID
#end
WHERE $region $data_options.replace("coord_lat", "latitude").replace("coord_lon","longitude").replace("coord_time","hours_1970")

#if ($readonly == false)
	and metadata.flag <> 'R'
#else
	and metadata.flag in ('A', 'B', 'C', 'D')
#end

ORDER BY ${table}.cruise_ID, $time

