/** Add css rules here for your application. */

.gwt-PushButton-APPLY-NEEDED {
  
  color: red;

}

.regularBackground {
    background-color: #ACE;
}

.panelBackground {
	background-color: #CAE;
}

.las-align-right {
    text-align: right;
}