<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html debug="true">
	<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">

		<title>$las_config.getTitle()</title>
		
		<style media="all" type="text/css">
			@import "JavaScript/ui/LASUI.css";
			@import "css/UX/metallic/metallicGrn.css";
		</style>
	</head>
	<body onload="init()">
		#parse ("/productserver/templates/V7UIHeader.vm")
		    <h1>Administrative tasks:</h1>
		    <ul>
		         <li><a href="ProductServer.do">Server information</a></li>
                 <li><a href="ReInit.do">Re-initialize the server to install new configuration</a></li>
                 <li><a href="CacheManager.do">Manage the cache</a></li>
                 <li><style="bold">Set the Product Server Logging Level</li>
                 <ul>
                     <li><a href="ProductServer.do?log_level=debug">DEBUG - write the most information possible to logs and outputs.</a></li>
                     <li><a href="ProductServer.do?log_level=info">INFO - include only a few informational messages.</a></li>
                     <li><a href="ProductServer.do?log_level=warn">WARN - only warn about potential problems.</a></li>
                     <li><a href="ProductServer.do?log_level=fatal">FATAL - be silent except for fatal errors.</a></li>
                 </ul>
            </ul>
		#parse( "/productserver/templates/V7UIFooter.vm") 
	</body>
</html>



