<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>annotations.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<style>
.title {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .75em;
color: #000000;
font-weight: bold;
text-align:left;
}
.footer {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .75em;
color: #000000;
text-align:center;
}
.regular {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .75em;
color: #000000;
text-align:left;
}
</style>
  </head>
  
  <body>
  	<div class="title">
    	#foreach ( $title in $las_annotations.getDatasetTitles() )
    		$title<br>
	    #end
    </div>
  </body>
    <div class="title">
    	#foreach ( $title in $las_annotations.getVariableTitles() )
    		$title<br>
	    #end
    </div>
    <div class="title">
    	#foreach ( $url in $las_annotations.getDatasetURLs() )
    		$url<br>
	    #end
    </div>
    <div class="regular">
    	#foreach ( $axis in $las_annotations.getOrthogonalAxes() )
    		$axis<br>
	    #end
    </div>
    <div class="regular">
    	<ul>
	    #foreach ($note in $las_annotations.getNotes() )
	    	<li>$note</li>
    	#end
    	</ul>
	</div>
	<div class="footer">
		$las_annotations.getHeader()
	</div>
  </body>
</html>
