<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
	<TBODY>
		<TR>
			<TD bgcolor="#7391AD"  height="10px" width="280px" align="left">
				<div style="position: relative; width: 280px; height: 10px;margin-right:2px">
					<a href="http://ferret.pmel.noaa.gov/LAS/" target="_new"><span class="top_link_title">Live Access Server</span></a>
					<span style="position: absolute; top: 0px; left: 150px; font-size:7pt; color:#FFFFFC;">
				        
					</span>
				</div>
			</TD>  			
	                <td bgcolor="#7391AD" align="right" >
		           <a class="top_link_left"  href="$server_config.getFTDSBase()" target="_new">OPeNDAP (F-TDS) / THREDDS</a> 
			</td>
	  	</TR>
	  	<TR>
			<TD bgcolor="#7391AD" valign="top" align="left">
				<div style="position:relative;height:33px;overflow:hidden;width:100%;margin-right:0px;margin-left:0px;border-bottom:1pt solid #FFFFFC">
					<span  style="color:Black;position:relative;left:10px;top:0px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle(): Property-Property Viewer </span>
					<span  style="color:Black;position:relative;left:12px;top:0px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle(): Property-Property Viewer </span>
					<span  style="color:Black;position:relative;left:10px;top:2px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle(): Property-Property Viewer </span>
					<span  style="color:Black;position:relative;left:12px;top:2px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle(): Property-Property Viewer </span>
					<span  style="color:#FFFFFC;position:relative;left:11px;top:1px;height:35px;font-weight:bold;font-size:18pt;position:absolute;">$las_config.getTitle(): Property-Property Viewer </span>
				</div>
			</TD>
                	<TD id="headerBottomRight" bgcolor="#7391AD" width="55px" valign="top" style="align:right;border-bottom:1pt solid #FFFFFC">
				<link rel="stylesheet" href="../../JavaScript/ui/LASUI.css" type="text/css"/>
				<script type="text/javascript" language="javascript" src="../../JavaScript/components/gov.noaa.pmel.tmap.las.HelpMenu/gov.noaa.pmel.tmap.las.HelpMenu.nocache.js"></script>
                	</TD>
		</TR>
	</TBODY>
</TABLE>
