#if ($las_request.getProperty("las", "output_type") == 'json')

$las_response.brief().toJSON()

### Don't allow XML output for the error template.  #elseif ($las_request.getProperty("las", "output_type") == 'xml')

####  $las_response.toString()

#else

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
<title>LAS Output</title>
              <style type="text/css">
                .tableBorderDark {
	          border: double;
                }
                .titleText {
                	font-family: Arial, Helvetica, sans-serif;
                	font-size: 18px;
                	font-weight: bolder;
                	letter-spacing: 0.08em;
                	text-align: left;
                }
                .errorText {
                	font-family: Arial, Helvetica, sans-serif;
                	font-size: 16px;
                	font-style: normal;
                	font-weight: bolder;

                	text-decoration: none;
                	color: #FF2222;
                	display: compact;
                	letter-spacing: normal;
                	border: thin none;
                	list-style-position: inside;
                	list-style-type: none;
                	cursor: hand;
  			margin-top: 20px;
                        margin-left: 20px;
                }
                .smallErrorText {
                	font-family: Arial, Helvetica, sans-serif;
                	font-size: 12px;
                	font-style: normal
                	text-decoration: none;
                	display: compact;
                	letter-spacing: normal;
                	border: thin none;
                	list-style-position: inside;
                	list-style-type: none;
                	cursor: hand;
                }
              </style>
</head>
<body bgcolor="white" onload="resizeme();">

<br><br>
<table>
<tr>
    <td class="titleText"> Unfortunately, we cannot provide what you have asked for.</td>
 </tr>
 <tr></tr>
 <tr>
    <td class="errorText">
     <span style="margin-left:20px"> $las_response.getResult("las_message")</span>
    </td>
 </tr>
</table><br><br>
#if ( $las_response.getResult("las_message").contains("A remote server") ) 
LAS was trying to access these servers:

<ol>
#foreach ($variable in $las_request.getVariables() )
#set($url=$las_config.getDataAccessURL($variable, false))
#set($browser_url=$las_config.getDataAccessBrowserURL($variable, false))
<li><a target="_blank" href="$browser_url">$url</a>
#end
</ol>

#end
    <span class="smallErrorText">Advanced users may <a  id="displayText" href="javascript:toggle();">
#if ( $debug=="true" || $debug=="debug" )
hide
#else
see
#end
</a> more technical information.
                                 
#if ("$!institution.getContact()" != "")
<p><a href="mailto:$institution.getContact()?subject=LAS Error&body=Type message and paste the URL here.">Email to the site administrator.</a>
#end

#if ( $debug=="true" || $debug=="debug" )
<div id="debug_text" style="display: block">
#else
<div id="debug_text" style="display: none">
#end
<hr>
#parse("/productserver/templates/revision.vm")
Server at Revision r${revision}
<pre>
$las_response.getResult("exception_message")
</pre>
</div>
</body>
<script type="text/javascript">
        function resizeme() {
                if(parent!=self)
                 if(parent.document.getElementById("output")) {
                        parent.document.getElementById("output").height=window.screen.height+20;
                        parent.document.getElementById("output").width=window.screen.width+20;
                }
        }
function toggle() {
	var ele = document.getElementById("debug_text");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "see";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "hide";
	}
} 
</script>

</html>

#end

