<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">

<title>LAS Output -- $las_config.getTitle()</title>
</head>
<body>
Netcdf file is <a href="$las_response.getResult("netcdf")">here.</a>
</body>
</html>
