<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse ("/productserver/templates/revision.vm")
<html>
<!-- LAS SERVER OK -->
<head><title>LAS Output</title></head>
<body bgcolor="white">
<h3>This is the $!title LAS Product Server (Revision: $revision)</h3>
#if ( $institution.name != "" && $institution.url != "" )
<h4>Run by the <a href="$institution.url">$institution.name.</a></h4>
#end
#if ( $institution.contact != "" )
<h4>Contact us at <a href="mailto:$institution.contact">$institution.contact</a></h4>
#end
<h3>Services for this Product Server</h3>
<table>
<tr><th>Service Name:</th><th>URL</th><tr>
#foreach ($service in $services)
#if ($service.getValue() == "Local Service")
<tr>
<td>$service.getName()</td><td>$service.getValue()</td>
</tr>
#else
<tr><td>$service.getName()</td><td><a href="$service.getValue()">$service.getValue()</a></td></tr>
#end ##if local service
#end ## service loop
</table>
<h3>Subversion Info:</h3>
<pre>
Path: .
URL: file:///home/porter/tmap/svn/repos/baker/trunk
Repository Root: file:///home/porter/tmap/svn/repos
Repository UUID: fdbf22ae-c210-0410-be80-ca943da6b8f8
Revision: 3232
Node Kind: directory
Schedule: normal
Last Changed Author: rhs
Last Changed Rev: 3232
Last Changed Date: 2008-08-07 09:28:55 -0700 (Thu, 07 Aug 2008)

</pre>
</body>
</html>
