<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse ("/productserver/templates/revision.vm")
<html debug="true">
	<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">

		<title>Info page for: $las_config.getTitle()</title>
		
		<style media="all" type="text/css">
			@import "JavaScript/ui/LASUI.css";
			@import "css/UX/metallic/metallicGrn.css";
		</style>
	</head>
<body>
#parse ("/productserver/templates/V7UIHeader.vm")
<h3>This is the $!title LAS Product Server (Revision: $revision)</h3>
#if ( $institution.name != "" && $institution.url != "" )
<h4>Run by the <a href="$institution.url">$institution.name.</a></h4>
#end
#if ( $institution.contact != "" )
<h4>Contact us at <a href="mailto:$institution.contact">$institution.contact</a></h4>
#end
<h3>Services for this Product Server</h3>
<table>
<tr><th>Service Name:</th><th>URL</th><tr>
#foreach ($service in $services)
#if ($service.getValue() == "Local Service")
<tr>
<td>$service.getName()</td><td>$service.getValue()</td>
</tr>
#else
<tr><td>$service.getName()</td><td><a href="$service.getValue()">$service.getValue()</a></td></tr>
#end ##if local service
#end ## service loop
</table>
#parse("/productserver/templates/svn.vm")
Log level: $!log_level

#parse( "/productserver/templates/V7UIFooter.vm") 
