<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
<title>LAS Output</title></head>
<body bgcolor="white">
<h3>The LAS Server you are using has not finished initializing.</h3>
<hr>
The initialization process should be completed soon.  Please try again in a few minutes.
</body>
</html>

