#set ($error=$las_response.getResult("error"))
#if ( $error != "" )
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
<title>LAS Output</title></head>
<body bgcolor="white">
<h3>An error occurred creating your product.</h3>
The information below contains the messages that were written to standard output
and standard error.
<hr>
<pre>
$error
</pre>
#elseif ( $las_response.getResult("ferret_listing") != "" )

#if ($las_request.getProperty("las", "output_type") == 'json')

$las_response.toJSON()

#elseif ($las_request.getProperty("las", "output_type") == 'xml')

$las_response.toString()

#else
$response.sendRedirect("$las_response.getResult('ferret_listing')")
#end
#elseif ( $las_response.getResult("netcdf") != "" )

#if ($las_request.getProperty("las", "output_type") == 'json')

$las_response.toJSON()

#elseif ($las_request.getProperty("las", "output_type") == 'xml')

$las_response.toString()

#else
$response.sendRedirect("$las_response.getResult('netcdf')")
#end
#else
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
<title>LAS Output</title></head>
<body bgcolor="white">
	Could not find a result with your netcdf file

#if ( $debug=="true" || $debug=="debug" ) 
	Debug Output (including symbols from the request).<br>
        <iframe src="$las_response.getResult("debug")" width="600">
           Missing debug output.
        </iframe>
#end
</body>
</html>
#end
