#if ($las_request.getProperty("las", "output_type") == 'json')

$las_response.toJSON()

#elseif ($las_request.getProperty("las", "output_type") == 'xml')

$las_response.toString()

#else

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- LAS SERVER OK -->
<head>
    <!-- Let IE know to use the IE9 standard browser and document modes -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">

<title>LAS Output -- $las_config.getTitle()</title>
<body onload="resizeme()">
         <img alt="Plot Image" id="plot" border="0" src="$las_response.getResult("plot_image")">
</body>
<script type="text/javascript">
	function resizeme() {
	        if(parent!=self)
	         if(parent.document.getElementById("output")) {
                        parent.document.getElementById("output").height=window.screen.height+20;
                        parent.document.getElementById("output").width=window.screen.width+20;
        	}
	}
</script>
</html>

#end

