<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://earth.google.com/kml/2.1">
  <NetworkLink>
     <Link>
         <href>$las_response.getResult("kml")</href>
     </Link>
  </NetworkLink>
</kml>
