<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://earth.google.com/kml/2.1">
  <Folder>
    <name>$las_request.getDatasetName(): $las_request.getVarName()</name>
    <open>1</open>
#if( $las_request.getProperty("ferret", "ge_overlay_style")=="dynamic" )
    <description>dynamic overlay</description>
    <NetworkLink>
      <visibility>1</visibility>
      <open>1</open>
      <refreshVisibility>1</refreshVisibility>
      <flyToView>0</flyToView>
      <Link>
        <href>$las_config.getBaseServerURL()/GEServer.do?xml=$las_request.toEncodedURLString()</href>
        <refreshMode>onInterval</refreshMode>
        <refreshInterval>4</refreshInterval>
        <refreshMode>onChange</refreshMode>
        <viewRefreshMode>onStop</viewRefreshMode>
        <viewRefreshTime>2</viewRefreshTime>
      </Link>
    </NetworkLink>
#else
    <description>static overlay</description>
    <NetworkLink>
      <open>1</open>
      <Link>
        <href>$las_config.getBaseServerURL()/GEServer.do?xml=$las_request.toEncodedURLString()</href>
        <viewRefreshMode>onRequest</viewRefreshMode>
      </Link>
    </NetworkLink>
#end
</Folder>
</kml>

