$cache.clean()
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>SOCAT QC Sucessfully Submitted -- Updating metadata</title>
	<script language="JavaScript" src="JavaScript/components/xmldom.js"></script>
	<script language="JavaScript" src="JavaScript/components/LASRequest.js"></script>
	<script type="text/javascript">
		setTimeout("try{window.opener.opener.opener.location.reload();} catch(err){} try{window.opener.opener.location.reload();} catch(err){} try{window.opener.location.reload();} catch(err){}",1500);
		setTimeout("window.close();",1600);
	</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33678033-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
</body>

</html>
