<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<!-- LAS SERVER OK -->

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Enter QC for $las_request.getProperty("qc", "expocode") -- $las_config.getTitle()</title>
		<script language="JavaScript" src="JavaScript/components/xmldom.js"></script>
		<script language="JavaScript" src="JavaScript/components/LASRequest.js"></script>
		<script language="JavaScript">
			var socatQC = { 
				validExpoChars: "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-",

				fco2twoComment: "Accuracy of calculated fCO2w (at SST) less than 2 uatm",
				fco2fiveComment: "Accuracy of calculated fCO2w (at SST) less than 5 uatm",
				fco2tenComment: "Accuracy of calculated fCO2w (at SST) less than 10 uatm",
				fco2badComment: "Accuracy of calculated fCO2w (at SST) more than 10 uatm",

				soptrueComment: "Followed standard methods/SOP",
				sopfalseComment: "Did not follow standard methods/SOP",

				metacompleteComment: "Metadata complete",
				metalackingComment: "Metadata not complete",

				datagoodComment: "Data quality acceptable",
				databadComment: "Significant amount of unacceptable-quality data",

				crossfoundComment: "High-quality cross-over with ",
				crossnoneComment: "No high-quality cross-overs found at the time of this QC",

				commentSpacer: ".  "
			};

			/**
			 * Check if a string roughly fits the expocode format
			 * 
			 * @param expocode
			 * 		string to check
			 * @returns
			 * 		true if it fits the expocode format;
			 * 		otherwise false
			 */
			socatQC.couldBeExpo = function(expocode) {
				var len = expocode.length;
				if ( (len < 12) || (len > 15) ) {
					return false;
				}
				for (var k = 0; k < len; k++) {
					if ( socatQC.validExpoChars.indexOf(expocode.charAt(k)) < 0 ) {
						return false;
					}
				}
				return true;
			};

			/**
			 * Generate and assign the complete QC comment 
			 * from the selected values and additional comments.
			 */
			socatQC.assignComment = function() {
				var comment = "";

				if ( document.getElementById("fco2two").checked ) {
					comment += socatQC.fco2twoComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("fco2five").checked ) {
					comment += socatQC.fco2fiveComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("fco2ten").checked ) {
					comment += socatQC.fco2tenComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("fco2bad").checked ) {
					comment += socatQC.fco2badComment + socatQC.commentSpacer;
				}

				if ( document.getElementById("soptrue").checked ) {
					comment += socatQC.soptrueComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("sopfalse").checked ) {
					comment += socatQC.sopfalseComment + socatQC.commentSpacer;
				}

				if ( document.getElementById("metacomplete").checked ) {
					comment += socatQC.metacompleteComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("metalacking").checked ) {
					comment += socatQC.metalackingComment + socatQC.commentSpacer;
				}

				if ( document.getElementById("datagood").checked ) {
					comment += socatQC.datagoodComment + socatQC.commentSpacer;
				}
				else if ( document.getElementById("databad").checked ) {
					comment += socatQC.databadComment + socatQC.commentSpacer;
				}

				if ( document.getElementById("crossfound").checked ) {
					comment += socatQC.crossfoundComment + document.getElementById("crossexpo").value.trim() + socatQC.commentSpacer;
				}
				else if ( document.getElementById("crossnone").checked ) {
					comment += socatQC.crossnoneComment + socatQC.commentSpacer;
				}

				var userComment = document.getElementById("addlcomment").value.trim();
				// listing each of these problems individually - maybe one day we can fix some or all
				userComment = userComment.replace(/\'/g,"")
				userComment = userComment.replace(/\"/g,"");
				userComment = userComment.replace(/</g," less than ")
				userComment = userComment.replace(/>/g," more than ");
				userComment = userComment.replace(/%/g," percent")
				userComment = userComment.replace(/&/g," and ");
				comment += userComment;

				document.getElementById("comment").value = comment.trim();
			};

			/**
			 * Check selected comments to see if they are sufficient for the given flag
			 * 
			 * @param flag
			 * 		QC flag to be assigned
			 * @param comment
			 * 		complete QC comment to check in case a radio button is not selected
			 * @returns
			 * 		true if comments are sufficient for the flag;
			 * 		otherwise false.
			 */
			socatQC.checkFlag = function(flag, comment) {
				var fco2val = 16;
				if ( document.getElementById("fco2two").checked ) {
					fco2val = 1;
				}
				else if ( document.getElementById("fco2five").checked ) {
					fco2val = 4;
				}
				else if ( document.getElementById("fco2ten").checked ) {
					fco2val = 9;
				}
				else if ( (comment.indexOf(socatQC.fco2twoComment) >= 0) ) {
					fco2val = 1;
				}
				else if ( (comment.indexOf(socatQC.fco2fiveComment) >= 0) ) {
					fco2val = 4;
				}
				else if ( (comment.indexOf(socatQC.fco2tenComment) >= 0) ) {
					fco2val = 9;
				}
				switch( flag ) {
				case "A":
				case "B":
					if ( fco2val > 2 ) {
						window.alert("Accuracy of calculated aqueous fCO2 at SST must be less than 2 uatm for QC flag A and B");
						return false;
					}
					break;
				case "C":
				case "D":
					if ( fco2val > 5 ) {
						window.alert("Accuracy of calculated aqueous fCO2 at SST must be less than 5 uatm for QC flag C and D");
						return false;
					}
					break;
				case "E":
					if ( fco2val > 10 ) {
						window.alert("Accuracy of calculated aqueous fCO2 at SST must be less than 10 uatm for QC flag E");
						return false;
					}
					break;
				default:
					break;
				}

				switch( flag ) {
				case "A":
				case "B":
				case "C":
					if ( ! ( document.getElementById("soptrue").checked ||
							(comment.indexOf(socatQC.soptrueComment) >= 0) ) ) {
						window.alert("Approved methods/SOP criteria must be followed for QC flag A, B, and C");
						return false;
					}
					break;
				default:
					break;
				}

				switch( flag ) {
				case "A":
				case "B":
				case "C":
				case "E":
					if ( ! ( document.getElementById("metacomplete").checked ||
							(comment.indexOf(socatQC.metacompleteComment) >= 0) ) ) {
						window.alert("Metadata documentation must be complete for QC flag A, B, C, and E");
						return false;
					}
					break;
				default:
					break;
				}

				switch( flag ) {
				case "A":
				case "B":
				case "C":
				case "D":
				case "E":
					if ( ! ( document.getElementById("datagood").checked ||
							(comment.indexOf(socatQC.datagoodComment) >= 0) ) ) {
						window.alert("Data quality must be acceptable for QC flag A, B, C, D, and E");
						return false;
					}
					break;
				default:
					break;
				}

				var crossexpo = "";
				var crosschecked = document.getElementById("crossfound").checked;
				if ( crosschecked ) {
					crossexpo = document.getElementById("crossexpo").value.trim();
				}
				else {
					var idx = comment.indexOf(socatQC.crossfoundComment);
					if ( idx >= 0 ) {
						crosschecked = true;
						idx += socatQC.crossfoundComment.length;
						var startIdx = idx;
						var endIdx = idx;
						while ( (idx < comment.length) &&
								(socatQC.validExpoChars.indexOf(comment[idx]) >= 0) ) {
							idx += 1;
							endIdx = idx;
						}
						crossexpo = comment.substring(startIdx, endIdx);
					}
				}
				switch( flag ) {
				case "A":
					if ( ! crosschecked ) {
						window.alert("A high-quality cross-over must be specified for QC flag A");
						return false;
					}
					// fallthru
				default:
					if ( crosschecked && ! socatQC.couldBeExpo(crossexpo) ) {
						window.alert("The dataset expocode for the high-quality cross-over is not valid");
						return false;
					}
					break;
				}

				return true;
			};

			/**
			 * Submit the QC flag.  Checks the selected comments are sufficient 
			 * for the selected flag then makes the LAS request.
			 */
			socatQC.submitQC = function() {
				var reviewer = "$user_name";
				var regionId = document.getElementById("region").value;
				var flag = document.getElementById("flag").value;
				var comment = document.getElementById("comment").value.trim();

				if ( comment.length < 8 ) {
					window.alert("Please enter a valid comment");
					return;
				}

				if ( ! socatQC.checkFlag(flag, comment) ) {
					return;
				}

				if ( flag == "H" ) {
					if ( ! window.confirm("This QC comment will not change any QC flags for this dataset.  Is this okay?") ) {
						return;
					}
				}
				else if ( regionId == "G" ) {
					if ( ! window.confirm("This global-region QC flag will override all regional QC flags for this dataset.  Is this okay?") ) {
						return;
					}
				}

				var Req = new LASRequest('$las_request.toJavaScriptSafeString()');
				Req.setOperation("SOCAT_QC_submit");
				Req.setProperty("qc","cruise_ID","$las_request.getProperty('qc', 'cruise_ID')");
				Req.setProperty("qc","region_ID",regionId);
				Req.setProperty("qc","flag",flag);
				Req.setProperty("qc","comment",comment);
				Req.setProperty("qc","reviewer",reviewer);

				var reqXmlText = Req.getXMLText();
				reqXmlText = escape(reqXmlText);
				document.location="ProductServer.do?xml=" + reqXmlText;
			};

			/**
			 * Setup of the document after loading.  Currently just
			 * adds event listeners for the elements in the page.
			 */
			socatQC.setup = function() {
				var radioIds = [ "fco2two", "fco2five", "fco2ten", "fco2bad", "fco2nocomment", 
				                 "soptrue", "sopfalse", "sopnocomment", 
				                 "metacomplete", "metalacking", "metanocomment",
				                 "datagood", "databad", "datanocomment",
				                 "crossfound", "crossnone", "crossnocomment" ];
				for (var k = 0; k < radioIds.length; k++) {
					document.getElementById(radioIds[k]).addEventListener("change", socatQC.assignComment, false);
				}
				document.getElementById("crossexpo").addEventListener("input", socatQC.assignComment, false);
				document.getElementById("addlcomment").addEventListener("input", socatQC.assignComment, false);
				document.getElementById("submitqc").addEventListener("click", socatQC.submitQC, false);
			};

			// Call socatQC.setup after loading the document
			window.addEventListener("load", socatQC.setup, false);
		</script>

		<style>
			h4.toplabel { margin-bottom: 0.0em; }
			div.value { margin-top: 0.0em; margin-bottom: 2.0em; }
			div.radiolabel { margin-left: 1.0em; margin-top: 1.0em; margin-bottom: 0.0em; }
			div.radiovalue { margin-left: 2.0em; margin-top: 0.25em; margin-bottom: 0.25em; }
			div.buttonpanel { margin-top: 1.0em; margin-bottom: 1.0em; }
			input.checkbox { margin-right: 0.25em; }
			input.radio { margin-right: 0.25em; }
			input.text { margin-left: 0.25em; margin-right: 0.25em; }
			select { margin-left: 0.25em; }
		</style>

	</head>

	<body>
		<div style="position:absolute;">

			<h3>QC for $las_request.getProperty("qc", "expocode")</h3>
			<h4>Reviewer: $user_name</h4>
			<h4>Region: 
				<select id="region">
#set($last=$las_webrowset.last())
#set($size = $las_webrowset.getRow())
#set($first=$las_webrowset.beforeFirst())
#set($first_frame='')
#foreach ($row in [01..$size])
  #set($next=$las_webrowset.next())
    #if ($las_webrowset.getString('region_id') != 'G')
      #if ($las_request.getProperty('qc', 'region_name') == $las_webrowset.getString('region_name') )
					<option id="$las_webrowset.getString('region_id')" value="$las_webrowset.getString('region_id')" selected="true">$las_webrowset.getString('region_name')&nbsp;</option>
      #else
					<option id="$las_webrowset.getString('region_id')" value="$las_webrowset.getString('region_id')">$las_webrowset.getString('region_name')&nbsp;</option>
      #end
    #end
#end
#if ($las_request.getProperty('qc', 'region_name') == 'Global')
					<option id="G" value="G" selected="true">Global&nbsp;</option>
#else
					<option id="G" value="G">Global&nbsp;</option>
#end
				</select>
			</h4>

			<h4 class="toplabel">Quality Control Criteria:</h4>
			<div class="value">

				<div class="radiolabel" style="margin-bottom: -0.25em;">Accuracy of calculated aqueous fCO<small><sub>2</sub></small> at SST</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fco2accuracy" id="fco2two" />
					<label for="fco2two">&lt; 2 &mu;atm (A, B)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fco2accuracy" id="fco2five" />
					<label for="fco2five">&lt; 5 &mu;atm (C, D)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fco2accuracy" id="fco2ten" />
					<label for="fco2ten">&lt; 10 &mu;atm (E)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fco2accuracy" id="fco2bad" />
					<label for="fco2bad">&gt; 10 &mu;atm (F, S)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fco2accuracy" id="fco2nocomment" checked />
					<label for="fco2nocomment">(no comment)</label>
				</div>

				<div class="radiolabel">Followed approved methods/SOP criteria</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="followedsop" id="soptrue" />
					<label for="soptrue">true (A, B, C)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="followedsop" id="sopfalse" />
					<label for="sopfalse">false (D, E)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="followedsop" id="sopnocomment" checked />
					<label for="sopnocomment">(no comment)</label>
				</div>

				<div class="radiolabel">Metadata documentation</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fullmeta" id="metacomplete" />
					<label for="metacomplete">complete (A, B, C, E)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fullmeta" id="metalacking" />
					<label for="metalacking">incomplete (D)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="fullmeta" id="metanocomment" checked />
					<label for="metanocomment">(no comment)</label>
				</div>

				<div class="radiolabel">Data quality</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="gooddata" id="datagood" />
					<label for="datagood">acceptable (A, B, C, D, E)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="gooddata" id="databad" />
					<label for="databad">significant amount of unacceptable data (F, S)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="gooddata" id="datanocomment" checked />
					<label for="datanocomment">(no comment)</label>
				</div>

				<div class="radiolabel">High-quality cross-over</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="crossover" id="crossfound" />
					<label for="crossfound">found with dataset</label>
					<input class="text" type="text" size="16" name="crossexpo" id="crossexpo" />
					<label for="crossfound">(A)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="crossover" id="crossnone" />
					<label for="crossnone">none found (B, C, D, E)</label>
				</div>
				<div class="radiovalue">
					<input class="radio" type="radio" name="crossover" id="crossnocomment" checked />
					<label for="crossnocomment">(no comment)</label>
				</div>

			</div>

			<h4>Quality Control Flag to Assign:
				<select id="flag">
					<option selected="true" value="H">Comment&nbsp;</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="E">E</option>
					<option value="F">F</option>
					<option value="S">Suspend&nbsp;</option>
					<option value="X">Exclude&nbsp;</option>
				</select>
			</h4>

			<h4 class="toplabel">Additional comments:</h4>
			<div class="value">
				<textarea id="addlcomment" cols="80" rows="5"></textarea>
			</div>

			<h4 class="toplabel">Complete QC comment: (read-only)</h4>
			<div class="value">
				<textarea id="comment" cols="80" rows="10" readonly></textarea>
			</div>

			<div class="buttonpanel">
				<!-- adding window.close as a click event listener on cancelqc fails 
				     since the script is not the same as the one that created the window --> 
				<button style="float: right;" id="cancelqc" onClick="window.close()">Cancel</button>
				<button id="submitqc">Submit this QC Evaluation</button>
			</div>

		</div>
	</body>

</html>
