<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html debug="true">
	<head>
		<title>$las_config.getTitle()</title>
		<!--<script type="text/javascript" src="JavaScript/components/BrowserSniff.js" ></script>		-->
<!--		<script type="text/javascript" src="JavaScript/frameworks/firebug/firebug/firebug.js" ></script> -->	
		<script type="text/javascript" src="JavaScript/components/xmldom.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASRequest.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetGridResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetCategoriesResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetDataConstraintsResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetViewsResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetOperationsResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/LASGetOptionsResponse.js" ></script>
		<script type="text/javascript" src="JavaScript/components/MapWidget.js" ></script>
		<script type="text/javascript" src="JavaScript/components/querystring.js" ></script>
		<script  type="text/javascript" src="JavaScript/components/DateWidget.js" ></script>
		<script  type="text/javascript" src="JavaScript/components/MenuWidget.js" ></script>
		<script type="text/javascript" src="JavaScript/frameworks/json/json2.js" ></script>
		<script type="text/javascript" src="JavaScript/ui/LASUI.js" ></script>
		<script src="css/UX/metallic/hover.js" type="text/javascript"></script>
		<script type="text/javascript">
			var LAS = new LASUI();
			LAS.products = {
				"Maps" : {
					"Latitude-Longitude" : {"view" : "xy", "class" : "visualization", "id" : "XY_zoomable_image", "optiondef" : "Options_2D_image_contour_xy"}
				},
				"Line Plots" : {
					"Time series" : {"view" : "t", "class" : "visualization", "id" : "Plot_1D", "optiondef" : "Options_1D"},
					"Depth" : {"view" : "z", "class" : "visualization", "id" : "Plot_1D", "optiondef" : "Options_1D"},					
					"Longitude" : {"view" : "x", "class" : "visualization", "id" : "Plot_1D", "optiondef" : "Options_1D"},
					"Latitude" : {"view" : "y", "class" : "visualization", "id" : "Plot_1D", "optiondef" : "Options_1D"}
					
				},
				"Vertical Section Plots" : {
					"Longitude-depth" : {"view" : "xz", "class" : "visualization", "id" : "Plot_2D", "optiondef" : "Options_2D_image_contour"},
					"Latitude-depth" : {"view" : "yz", "class" : "visualization", "id" : "Plot_2D", "optiondef" : "Options_2D_image_contour"}										
				},
				"Hofmuller Plots" : {
					"Longitude-time" : {"view" : "xt", "class" : "visualization", "id" : "Plot_2D", "optiondef" : "Options_2D_image_contour"},
					"Latitude-time" : {"view" : "yt", "class" : "visualization", "id" : "Plot_2D", "optiondef" : "Options_2D_image_contour"},
					"Depth-time" : {"view" : "zt", "class" : "visualization", "id" : "Plot_2D", "optiondef" : "Options_2D_image_contour"}													
				},
				"Point Data" : {"Single Value" : {"view" : "","class" : "visualization", "id" : "Data_Extract", "optiondef" : "Options_Data"}},
				"Download Data" : {
					"Table of values" : {"view" : "xyzt", "class" : "download", "id" : "Data_Extract", "optiondef" : "Options_Data"},
					"ARC GIS" : {"view" : "xy", "class" : "download", "id" : "Data_Extract_ArcView", "optiondef" : ""},
					"ASCII File" : {"view" : "xyzt", "class" : "download", "id" : "Data_Extract_File", "optiondef" : "Options_Data_file"},
					"netCDF File" : {"view" : "xyzt", "class" : "download", "id" : "Data_Extract_netCDF", "optiondef" : "Options_Data"},
					"ASCII File" : {"view" : "xyzt", "class" : "download", "id" : "Data_Extract_File", "optiondef" : "Options_Data_file"},
					"netCDF File" : {"view" : "xyzt", "class" : "download", "id" : "Data_Extract_netCDF", "optiondef" : "Options_Data"},
					"Scripts" : {"view" : "xyzt", "class" : "download", "id" : "Gen_Scripts", "optiondef" : "Options_gen_script"}	
					
				}
			};
			LAS.params = {
#if ($request.getParameter('state')!="")
				'state' : $request.getParameter('state'),
#end

#if ($request.getParameter('catid')!="") 
				'catid' :$request.getParameter('catid'),
#else
				'catid' : {},
#end
#if  ($request.getParameter("dsid")!="")
				'dsid' : '$request.getParameter("dsid")',
#else
				'dsid' : '',
#end
#if  ($request.getParameter("varid")!="")
				'varid' : '$request.getParameter("varid")',
#else
				'varid' : [],
#end
#if ($request.getParameter('plot')!="")
				'plot' : '$request.getParameter('plot')',
#end
#if ($request.getParameter('view')!="")
				'view' : '$request.getParameter('view')',
#end

#if ($request.getParameter('x')!="")
				'x' : $request.getParameter('x'),		
#end
#if ($request.getParameter('y')!="")
				'y' : $request.getParameter('y'),		
#end
#if ($request.getParameter('viewx')!="")
				'viewx' : $request.getParameter('viewx'),		
#end
#if ($request.getParameter('y')!="")
				'viewy' : $request.getParameter('viewy'),		
#end
#if ($request.getParameter('z')!="")
				'z' : $request.getParameter('z'),		
#end
#if ($request.getParameter('t')!="")
				't' : $request.getParameter('t'),		
#end
#if ($request.getParameter('auto'))
				'autoupdate' : true,		
#else
				'autoupdate' : false,	
#end
#if ($request.getParameter('options')!="")
				'options' : $request.getParameter('options')checkbox
#else
				'options' :{}				
#end
		}
		function init () {
			
			
			LAS.initUI();		
		}
		</script>
		<style media="all" type="text/css">
			@import "JavaScript/ui/LASUI.css";
			@import "css/UX/metallic/metallicGrn.css";
			body {
				height : 100%; 
				width:100%; 
				min-width:800px;
				margin-right:auto;	
				margin-left:auto;
				margin-top:0px;
				margin-bottom:auto;
				text-align:center; /* for IE */
margin:0 auto; /* for the rest */ 
			}
			#main {
				max-width:1080px;
			};
			body, html {
			height: 100%;
		}
		</style>
	</head>
	<body onload="init();this.height=document.innerHeight;">
		<div style="display:none" class="LASPopupDIVNode" id="categories"></div>
		<table id="main" height="100%" width="100%"><tbody><tr><td valign="top" height="55px">
		#parse ("/productserver/templates/V7UIHeader.vm")
		<div id="nav_bg" style="width:100%;background-color:#454DAB;overflow:hidden;padding-top:4pt;padding-bottom:3pt;">
			<div id="nav" style="position:relative;height:100%;width:100%;">
		#if ($request.getParameter('hideCat'))
		#else
			<span class="top_link" width="100%" type="button" onclick="document.getElementById('startmsg').innerHTML=''; if(document.getElementById('categories').style.display=='none'){document.getElementById('categories').style.display='';LAS.toggleUIMask('')} else {document.getElementById('categories').style.display='none'; LAS.toggleUIMask('none');}">Choose dataset & variable&nbsp;</span>
				
		#end	
			<span  class="top_link_update" id="update" onclick="LAS.makeRequest();">Update Plot&nbsp;</span><!--<INPUT type="checkbox" #if($request.getParameter('auto')) checked #end  onmousemove="window.status='Check to automatically update the plot.';" onmouseout="window.status='';" onclick="LAS.autoupdate=this.checked;if(LAS.autoupdate)LAS.makeRequest();">-->
			<span  class="top_link" onclick="if(LAS.refs.options.plot.options){LAS.toggleUIMask('');document.getElementById('plotOptions').style.display='';}">Set plot options&nbsp;</span>
			<span id="productButtons">
				<span class="top_link" style="visibility:hidden" ID="Animation">Animate&nbsp;</span>
				<span class="top_link" style="visibility:hidden" ID="Comparison">Compare&nbsp;</span>							
				<span class="top_link" style="visibility:hidden" ID="Plot to Google Earth">Google Earth&nbsp;</span>
			</span>
			
			<span style="position:absolute;right:0px;top:0px;height:38px;vertical-align:center;" id="downloadType"></div>				
		</div>
		<img id="wait" style="visibility:hidden;float:right;" src="JavaScript/components/mozilla_blu.gif"><span style="float:left;" id="breadcrumb">Please select a variable.</span><br>
		</td></tr><tr><td valign="top"><table height="100%"><tbody><tr>		
			<td id="constraints" valign="top" width="215px" height="100%" style="border: 1px solid #5c731e">
				<div id="MapWidget" style="border:1px solid black;" ><div style="position:absolute;z-index:4;text-align:center"><img src="images/north-mini.png" onmousedown="LAS.refs.XYSelect.panPlot(0,10);"><br><img src="images/west-mini.png" onmousedown="LAS.refs.XYSelect.panPlot(-20,0);"><img src="images/east-mini.png" onmousedown="LAS.refs.XYSelect.panPlot(20,0);"><br><img src="images/south-mini.png" onmousedown="LAS.refs.XYSelect.panPlot(0,-10);"><br><img src="images/zoom-plus-mini.png" onclick="LAS.refs.XYSelect.zoom(2);"><br><img src="images/zoom-minus-mini.png"  onclick="LAS.refs.XYSelect.zoom(-1)"></div></div>
				<center><strong>Max&nbsp;Lat</strong><input size=3  id="input_maxY" type="text" value="90.0"><br>
				<strong>Min&nbsp;Lon</strong><input size=3 id="input_minX" value="-180.0">&nbsp;<strong>Max&nbsp;Lon</strong><input value="180.0" size=3 id="input_maxX"><br>
				<strong>Min&nbsp;Lat</strong><input id="input_minY" size=3 type="text" value="-90.0"></center>
				<div id="plotType"></div>
				<div id="Date"></div>
				<div id="Depth"></div><br>
				<div id="Analysis"  style="display:none;">							
						<a class="LASLink" value=false onclick="if(!LAS.refs.analysis.enabled){LAS.showAnalysis();this.innerHTML='Remove analysis';}else{LAS.hideAnalysis();this.innerHTML='Apply analysis';}">Apply analysis</a>
						<div id="analysis" style="display:none;">
							<strong>Analysis type</strong><br>
							<select id="analysis_op" name="analysis_op">
								<option selected="" value="">None</option>
								<option value="ave">Average</option>
								<option value="min">Minimum</option>
								<option value="max">Maximum</option>
								<option value="sum">Sum</option>
								<option value="var">Variance</option>
							</select><br>
							<strong>Analysis region type</strong>						
							<select id="analysis_axes">
								<option value="">None</option>
								<option id="xy_analysis" value="xy">Area</option>
								<option id="x_analysis" value="x">Longitude</option>
					          		<option id="y_analysis" value="y">Latitude</option>
								<option id="z_analysis" value="z">Depth</option>
					 	      		<option id="t_analysis" value="t">Time</option>
							</select>
						</div>
				</div>
				<div id="DataConstraints"></div>					
			</td>
			<td width="100%" height="100%" valign="top" halign="left">
				<div id="startmsg">
					#if ($request.getParameter('dsid')!='' && $request.getParameter('varid')!='')
					#else
						<h1>To begin, click the "Choose Dataset and Variable" button.</h1>
					#end
				</div>
				<div style="display:none;margin:20pt;padding:20pt;" id="wait_msg"><H3>Product loading...</H3></div>
				<iframe style="min-height:500px;" id="output" onload="this.height='100%';LAS.onPlotLoad();" width="100%" height="100%" frameborder=0></iframe>			
			</td>
			</tr></tbody>
		</table></td></tr><tr><td height="22px">
		#parse( "/productserver/templates/V7UIFooter.vm") 
		</td></tr></tbody></table>
		<div id="debug" style="border:1pt solid black;position:absolute;top:200px;left:150px;display:none;"></div>
		<div id="plotOptions" class="LASPopupDIVNode" style="display:none;"></div>
		<div id="downloadOptions" class="LASPopupDIVNode" style="display:none;"></div>
		<div id="externalOptions" class="LASPopupDIVNode" style="display:none;"></div>
	</body>
</html>



