		<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" WIDTH="100%">
				<TR>
				
    <TD width="37%" bgcolor="#99CCCC"><img src="JavaScript/ui/logoLAS.jpg" width="200"  height="115"></TD>
 	  			
    <TD width="37%" bgcolor="#99CCCC" align="center"><p><text class="LASTitleTextNode">$las_config.getTitle()</text></p></TD>
				
    <TD bgcolor="#99CCCC" align="right" valign="bottom" width="26%"><font color="white">Armstrong&nbsp;1.1&nbsp;<br>
      V7&nbsp;Beta&nbsp;UI&nbsp;</font></TD>
				<TD width="0%" align="center" bgcolor="#003399"></TD>  				
			</TR></TABLE>
