<table>
	<tr>
		<td width="50%" align="left" class="bodyBlack"><font size="-1">
			<a href="http://www.doc.gov/">US Department of Commerce</a>
			<a href="http://www.noaa.gov/">NOAA</a> 
			| <a href="http://www.oar.noaan.gov">OAR</a>
       	| <a href="http://www.pmel.noaa.gov">PMEL</a> 
			| <a href="http://www.pmel.noaa.gov/home/persons.shtml">Contacts</a> 
			| <a href="http://www.noaa.gov/privacy.html">Privacy Policy</a> 
			| <a href="http://www.noaa.gov/disclaimer.html">Disclaimer</a>
			| <a href="mailto:$las_config.getInstitution().contact">mailto: $las_config.getInstitution().contact</a>
		</td>  
	</tr>
</table>


